# Godot 4+ specific ignores
.godot/
/android/

# Rust build artifacts
rust/target/*
!rust/target/debug/
rust/target/debug/*
!rust/target/debug/*.dll
!rust/target/debug/*.so
!rust/target/debug/*.dylib
!rust/target/release/
rust/target/release/*
!rust/target/release/*.dll
!rust/target/release/*.so
!rust/target/release/*.dylib
